.menu {
    background-color: brown;
    display: flex;
    justify-content: center;
}

.menuOption{
    display: inline-block;
    margin: 0px 10px 0px 10px;
    color: white;
}

.title{
    display: flex;
    justify-content: center;
}

.category{
    display: inline-block;
    margin: 0px 10px 0px 10px;
    align-items: center;
    background-color: green;
}

.container{
    background-color: bisque;
    align-items: center;
}

.recipeName{
    align-items: center;
}

.step1{
    align-items: center;
    justify-content: center;
    display: flex;
}

div {
    white-space: pre-wrap;
  }